.bodyCSS{
				margin:0;
			}
			
			.bodyBackgroundCSS{
				background-color:#c1bdba;
				width:100%;
				height:100%
			}
			
			.mainFrameCSS{
				background-color:rgba(19, 35, 47, 0.9);
				height:90%;
				width:40%;
				left:30%;
				border-radius:5px;
				top:5%;
				position:absolute
			}
			
			.buttonRowCSS{
				top:5%;
				left:5%;
				position:absolute;
				background-color:rgba(160, 179, 176, 0.25);
				width:90%;
				height:10%;
			}
			
			.signUpButtonCSS{
				background-color:#1ab188;
				height:100%;
				width:50%;
				font-size:17;
				font-weight:bold;
				color:white;
				border:none;
				float:left;
				position:absolute;
				font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
			}
			
			.loginButtonCSS{
				background-color:rgba(160, 179, 176, 0.25);
				height:100%;
				width:50%;
				font-size:17;
				font-weight:bold;
				color:#a0b3b0;
				left:50%;
				border:none;
				position:absolute;
				font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
			}
			
			.submitButtonCSS{
				background-color:#1ab188;
				left:5%;
				bottom:5%;
				width:90%;
				height:10%;
				position:absolute;
				border:none;
				font-size:23;
				font-weight:bold;
				color:white;
				font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
			}
			
			.middleComponentCSS{
				
				width:90%;
				height:60%;
				top:20%;
				position:absolute;
				left:5%;
				
			}
			
			
			.firstNameLabelCSS{
				border:none;
				width:47%;
				position:absolute;
				height:10%;
				color:#FFF1D9;
				top:2%;
				text-align:center;	
			}
			.firstNameFieldCSS{
				border:none;
				width:47%;
				position:absolute;
				height:10%;
				background-color:rgba(19, 35, 47, 0.9);
				border:1px solid #a0b3b0;
				color:white;
				text-align:center;
				
			}
			.firstNameErrorFieldCSS{
				border:none;
				width:47%;
				position:absolute;
				height:4%;
				left:1%;
				top:11%;
				color:red;
				text-align:left;
			}
			
			
			.lastNameLabelCSS{
				border:none;
				width:47%;
				position:absolute;
				left:53%;
				height:10%;
				color:#FFF1D9;
				top:2%;
				text-align:center;
			}
			.lastNameFieldCSS{
				border:none;
				width:47%;
				left:53%;
				position:absolute;
				height:10%;
				background-color:rgba(19, 35, 47, 0.9);
				border:1px solid #a0b3b0;
				color:white;
				text-align:center;
			}						
			.lastNameErrorFieldCSS{
				border:none;
				width:47%;
				left:54%;
				position:absolute;
				height:4%;
				top:11%;
				color:red;
				text-align:left;
			}
			
			
			.genderFieldCSS{
				border:none;
				width:47%;
				position:absolute;
				height:9%;
				top:20%;
				background-color:rgba(19, 35, 47, 0.9);
				border:1px solid #a0b3b0;
				color:white;
				font-weigt:bold;
				text-align:center;
			}
			
			
			.mobileLabelCSS{
				border:none;
				width:47%;
				position:absolute;
				height:9%;
				top:22%;
				left:53%;
				color:white;
				text-align:center;
			}			
			.mobileFieldCSS{
				border:none;
				width:47%;
				position:absolute;
				height:9%;
				top:20%;
				left:53%;
				background-color:rgba(19, 35, 47, 0.9);
				border:1px solid #a0b3b0;
				color:white;
				font-weigt:bold;
				text-align:center;
			}
			.mobileErrorFieldCSS{
				border:none;
				width:47%;
				position:absolute;
				height:5%;
				top:30%;
				left:54%;
				color:red;
				
			}
			
			
			.emailLabelCSS{
				border:none;
				width:100%;
				position:absolute;
				height:10%;
				top:42%;
				color:white;
				text-align:center;
			}
			.emailFieldCSS{
				border:none;
				width:100%;
				position:absolute;
				height:10%;
				top:40%;
				background-color:rgba(19, 35, 47, 0.9);
				border:1px solid #a0b3b0;
				color:white;
				text-align:center;
			}
			.emailErrorFieldCSS{
				border:none;
				width:100%;
				position:absolute;
				height:5%;
				top:50%;
				color:red;
				left:1%;
			}
			
			
			.usernameFieldCSS{
				border:none;
				width:100%;
				position:absolute;
				height:10%;
				top:60%;
				background-color:rgba(19, 35, 47, 0.9);
				border:1px solid #a0b3b0;
				color:white;
				text-align:center;
			}			
			.usernameLabelCSS{
				border:none;
				width:100%;
				position:absolute;
				height:10%;
				top:62%;
				color:white;
				text-align:center;
			}
			.usernameErrorFieldCSS{
				border:none;
				width:100%;
				position:absolute;
				height:10%;
				top:70%;
				left:1%;
				color:red;
			}
			
			
			.passwordLabelCSS{
				border:none;
				width:47%;
				position:absolute;
				height:10%;
				top:82%;
				color:white;
				text-align:center;
			}
			.passwordFieldCSS{
				border:none;
				width:47%;
				position:absolute;
				height:10%;
				top:80%;
				background-color:rgba(19, 35, 47, 0.9);
				border:1px solid #a0b3b0;
				color:white;
				text-align:center;
			}
			.passwordErrorFieldCSS{
				border:none;
				width:47%;
				position:absolute;
				height:10%;
				top:90%;
				left:1%;
				color:red;
			}
			
			
			.confirmPasswordLabelCSS{
				border:none;
				width:47%;
				position:absolute;
				height:10%;
				top:82%;
				left:53%;
				color:white;
				text-align:center;
			}
			.confirmPasswordFieldCSS{
				border:none;
				width:47%;
				position:absolute;
				height:10%;
				top:80%;
				left:53%;
				background-color:rgba(19, 35, 47, 0.9);
				border:1px solid #a0b3b0;
				color:white;
				text-align:center;
			}
			.confirmPasswordErrorFieldCSS{
				border:none;
				width:47%;
				position:absolute;
				height:10%;
				top:90%;
				left:54%;
				color:red;
			}
			
			
			
			select {
   				  padding-left: 70px;
   				 
			}
			